/**************************** SETTINGS FOR LARGE AND SMALL WINDOW ****************************/
/* Reset og border-box á allt */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Leturgerðir */

@font-face {
  font-display: swap;
  font-family: 'lato';
  font-style: italic;
  src: url('font/Lato-Regular.ttf') format('woff');
}

/* Stillingar */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;

  /* Bil á milli header*/
  --header-spacing: calc(var(--spacing) * 13);
  --footer-spacing: calc(var(--spacing) * 5);

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter));

  /* Hámarksbreidd á efni */
  --max-width: 1400px;
  --width-offset: calc(100% - (2 * var(--offset)));

  /* Border breiddir */
  --border-small: 2px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Litir */
  --color-gold: #ffe7ae;
  --color-gold-light: #fff1cf;
  --color-dark: #291905;
  --color-white: #ffffff;
  --color-dark-brown: #392307;
  --color-light-brown: #814f0e;
  --color-light: #fff9ee;

  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Lato", sans-serif;
  --font-family-heading: "Lato", sans-serif;

  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
}

/* Almennt */

html,
input,
select,
button {
  font-size: var(--font-base-body-px);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  /* Setjum almennt bil á eftir fyrirsögnum */
  margin-bottom: var(--spacing);

  font-family: var(--font-family-heading);
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
}

/** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**************************** SMALL WINDOW ****************************/
@media screen and (max-width: 899px) {

  /** Fótur **/
  
  .footer .content {
    padding-top: var(--footer-spacing);
    padding-bottom: var(--spacing);
    display: flex;
    flex-wrap: wrap; 
  }

  .footer .disclaimer {
    border-top: var(--border-small) solid var(--color-light-brown);
    max-width: 100%;
    margin: 0 auto;
  }
}

  
/* Takki */

/* .button {
  display: inline-block;

  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius);
  padding: calc(var(--spacing) / 2) calc(var(--spacing));

  font-family: var(--font-family-base);
  text-decoration: none;
  text-align: center;

  color: var(--color-light);
  background-color: var(--color-dark);

  transition: background-color var(--transition-time-short)
      var(--transition-timing-function),
    color var(--transition-time-short);
}

.button:hover {
  color: var(--color-dark);
  background-color: var(--color-gold);
} */

/* Fade in animation */

@keyframes fade-in {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
  }
}

.header,
.main {
  animation: var(--transition-time-long) var(--transition-timing-function) fade-in;
}


/* Layout */

/* .wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  justify-items: center;

  gap: var(--vertical-space);
} */

/** Haus **/

.header {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header .header-image {
  background-image: url('Myndir/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.header .header-image-opacity {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
}

.header header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--header-spacing) 0;
}

.header header h1 {
  font-size: 9em;
  font-weight: 400;
}

.header header p{
  font-size: 2.5em;
}

/** Valmynd **/

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing) 0; /* LOSA VIÐ ??? */
  width: 100%;
}

.navigation .cog-image {
  justify-content: left;
  background-image: url('Myndir/cog.png');
  width: 30px !important;
  height: 30px !important;
  background-size: contain;
}

.navigation ul {
  display: flex;
  justify-content: center;
  gap: var(--spacing);
  width: 100%;
  max-width: var(--width-offset);
  list-style: none;
}

.navigation .taeknibudin {
  font-size: 1.8em;
  padding-left: 0.3em;
}

/** Meginmál **/

.main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--vertical-space);
  width: var(--width-offset);
  max-width: var(--max-width);
}

/** Fótur **/

.footer {
  width: 100%;
  background-color: var(--color-dark-brown);
  color: var(--color-white);
}

@media screen and (min-width: 900px) {
  .footer .content {
    padding-top: var(--footer-spacing);
    padding-bottom: var(--spacing);
    display: flex;
  }

  .footer .disclaimer {
    border-top: var(--border-small) solid var(--color-light-brown);
    max-width: 70%;
    margin: 0 auto;
  }
}

.footer section {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  width: 100%; /* MIGHT BE 30% ??? PROBABLY NOT USED BECAUSE OF FLEX ??? */
  min-height: 100px; /* NOT USED ??? */
}

.footer h2 {
  margin-bottom: calc(var(--spacing) * 0.5);
  border-bottom: var(--border-small) solid var(--color-white);
  margin-bottom: 1rem;
}

.footer .disclaimer p{
  padding: 1rem;
  flex: 1;
  text-align: center;
}

.footer ul {
  list-style: none;
}

/* EKKI NOTA, BARA TIL HLIÐSJÓNAR ??? */
/* @media (min-width: 500px) {
  .footer .content {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
    max-width: var(--max-width);
  }

  .footer section {
    grid-column-end: span 4;
  }

  .footer section:first-child {
    grid-column-start: 3;
  }
} */


/* Box! */

/* .boxes {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;

  width: 100%;
} */

/* @media (min-width: 500px) {
  .boxes {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
  }
} */

/* .boxes .box {
  grid-column: span 12;

  display: flex;
  flex-direction: column;

  gap: var(--spacing);

  padding: calc(var(--spacing) * 0.5);
  width: 100%;
  min-height: 100px;

  color: var(--color-dark);
  background-color: var(--color-gold-light);
  border-radius: 5px;
} */

/* @media (min-width: 500px) {
  .boxes .box {
    grid-column: span 6;
  }
} */

/* @media (min-width: 1000px) {
  .boxes .box {
    grid-column: span 4;
  }
} */

/* .boxes .box .title {
  margin-bottom: calc(var(--spacing) * 0.5);
  border-bottom: var(--border-small) solid var(--color-dark);
}

.boxes .box .content {
  flex: 1;
}

.boxes .box img {
  max-height: 400px;

  object-fit: cover;
  object-position: top center;
} */

/* @media (min-width: 1000px) {
  .boxes .box img {
    max-height: 350px;
  }
} */

/* Opnunartími */

/* dt {
  font-weight: bold;
}

dd {
  margin-bottom: var(--spacing);
} */

/* Matseðill */

/* table {
  border-spacing: 0;
}

table th,
table td {
  padding: calc(var(--spacing) * 0.5);
  text-align: left;
}

table tbody tr:nth-child(2n + 1) {
  color: var(--color-dark);
  background-color: var(--color-gold);
} */

/* Pöntunarform */

/* fieldset {
  border: var(--border-small) solid var(--color-dark);
}

fieldset legend {
  font-weight: bold;
}

fieldset div label {
  display: flex;
  flex-direction: column;
}

fieldset input,
fieldset select,
fieldset textarea {
  padding: calc(var(--spacing) * 0.5);
  width: 100%;
}

fieldset input[type='checkbox'] {
  width: auto;
}

fieldset .checkbox label {
  flex-direction: row;
  gap: calc(var(--spacing) * 0.5);
}

form button {
  padding: calc(var(--spacing) * 0.25);
  border-radius: var(--border-radius);
} */